@charset "utf-8";
/*-----------------------------------------------
 * Archive
 * Detail
-------------------------------------------------*/
/*-----------------------------------------------
 * Archive
-------------------------------------------------*/
/**
 * newsLists
 */
.newsListsWrap {
	width: var(--common-in-width);
	max-width: var(--common-in-maxwidth);
	margin: min(5vw,60px) auto 0;
}
@media screen and (max-width:767px){
	.newsListsWrap {
		margin: 8vw auto 0;
	}
}

/* item */
.newsLists__item {
	border-top: 1px solid rgb(var(--color-blue));
	height: min(8.33333vw,100px);
}
.newsLists__item:last-child {
	border-bottom: 1px solid rgb(var(--color-blue));
}
@media screen and (max-width:767px){
	.newsLists__item {
		height: auto;
	}
}

/* a */
.newsLists__item a {
	display: flex;
	align-items: center;
	color: rgb(var(--color-blue));
	font-size: var(--fontsize-16);
	line-height: 1.4;
	width: 100%;
	height: 100%;
	text-decoration: none;
}
.newsLists__item__inner {
	display: flex;
}
@media screen and (max-width:767px){
	.newsLists__item__inner {
		display: block;
	}
	.newsLists__item a {
		padding: 3.2vw 0;
	}
}

/* time */
.newsLists__time {
	display: flex;
	align-items: center;
}
.newsLists__time:after {
	content: "";
	background-color: rgb(var(--color-gold));
	display: block;
	width: 5px;
	height: 5px;
	margin: 0 min(1.66666vw,20px);
	transform: rotate(45deg);
}
@media screen and (max-width:767px){
	.newsLists__time{
		margin-bottom: 4px;
	}
	.newsLists__time:after {
		content: none;
	}
}

/* title */
.newsLists__title {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}
@media screen and (max-width:767px){
	.newsLists__title {
		-webkit-line-clamp: 2;
	}
}


/*-----------------------------------------------
 * Detail
-------------------------------------------------*/
/**
 * newsDetail
 */
.newsDetail {
	width: var(--common-in-width);
	max-width: 1000px;
	margin: min(5vw,60px) auto 0;
}
@media screen and (max-width:767px){
	.newsDetail {
		margin: min(10.666666vw, 80px) auto 0;
	}
}

/**
 * newsDetail__title
 */
.newsDetail__title {
	border-top: 1px solid rgb(var(--color-blue));
	border-bottom: 1px solid rgb(var(--color-blue));
	display: flex;
	flex-direction: column;
	font-size: var(--fontsize-16);
	padding: min(2.5vw,30px) 0;
}
@media screen and (max-width:767px){
	.newsDetail__title {
		padding: min(4vw,30px) 0;
	}
}

/* text */
.newsDetail__text {
	font-size: var(--fontsize-18);
}

/**
 * newsDetail__text
 */
 .newsDetail__textWrap {
	font-size: var(--fontsize-16);
	line-height: 2;
	padding: min(4.16666vw,50px) 0;
	word-break: break-all;
}
@media screen and (max-width:767px){
	.newsDetail__textWrap {
		padding: 6vw 0;
	}
}

/* p */
.newsDetail__textWrap > p:not(:first-of-type) {
	margin-top: min(4vw,30px);
}

/* a */
.newsDetail__textWrap a {
	color: rgb(var(--color-orange));
}

/* image */
.newsDetail__textWrap img{
    height: auto !important;
    max-width: 100%;
}
.newsDetail__textWrap img.aligncenter {
    margin: 0 auto;
    display: block;
}

/* flex */
.newsDetail__textWrap > p.is-flex {
	display: flex;
	gap: min(1.66666vw,20px);
}
@media screen and (max-width: 767px) {
	.img-mw60-sp {
		max-width: 60px;
	}
}

/* p style */
.newsDetail__textWrap p.center {
	text-align: center;
}
.newsDetail__textWrap p.right{
	text-align: right;
}

/* font-weight */
.font-bold {
	font-weight: bold;
}

/* border */
.newsDetail__textWrap p.inBorder{
	border: 1px solid rgb(var(--color-blue));
	padding: min(1.66666vw, 20px);
}
@media screen and (max-width:960px){
	.newsDetail__textWrap p.inBorder{
		padding: 10px;
	}
}

/* iframe */
.newsDetail__textWrap .ytifWrap{
    display: block;
    position: relative;
	width: 640px;
	height: 360px;
}
@media screen and (max-width: 767px) {
	.newsDetail__textWrap .ytifWrap{
	    width: 100%;
		height: auto;
	    padding-top: 56.25%;
	}
}
.newsDetail__textWrap iframe[src*="youtube"]{
    border: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/**
 * parts
 */
 .newsDetail__bold{
	color: #fff;
    background-position: bottom;
    background: linear-gradient(to bottom, rgba(var(--color-blue),0) 0%,rgba(var(--color-blue),0) 10%,rgba(var(--color-blue),1) 10%,rgba(var(--color-blue),1) 90%,rgba(var(--color-blue),0) 90%,rgba(var(--color-blue),0) 100%);
    font-size: var(--fontsize-16);
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.4;
 }
 .news__font_g{
	color: rgb(var(--color-gold));
 }
.news__bg_g{
	background: linear-gradient(transparent 60%,rgba(var(--color-gold),30%) 60%);
}

/**
 * PC横並び画像
 */
 .newsDetail__img{
	margin-top: 20px;
}

@media screen and (min-width: 769px) {
.newsDetail__img ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.newsDetail__img li{
	margin-right: 10px;
	width: 300px;
}
}

/**
 * 背景緑
 */
 .news__gr{
	background-color: rgb(var(--color-blue));
	color: #fff;
	padding: 2px 4px;
 }

 /**
 * メディア情報
 */
 .media ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
.media li {
    font-size: var(--fontsize-20);
    display: flex;
    align-items: center;
}
.media li:before {
    content: "";
    background-color: rgb(var(--color-gold));
    display: block;
    width: 5px;
    height: 5px;
    margin: 0 min(1.66666vw,20px);
    transform: rotate(45deg);
}
.media a {
    color: rgb(var(--color-blue));
    text-decoration: none;
}
@media screen and (max-width: 768px){
.media li {
    font-size: 3.73333vw;
    margin-top: 1vw;
}
}

#m01{
	padding-top: 60px;
}
#m01 table,
#m02 table,
#m03 table{
	border: 1px solid;
	border-color: rgb(var(--color-blue));
	width: 100%;

}
#m01 th,td,
#m02 th,td,
#m03 th,td{
	padding: 20px;
	border: 1px solid;
	border-color: rgb(var(--color-blue));
}
@media screen and (max-width: 768px){
	#m01 th,td,
	#m02 th,td,
	#m03 th,td{
	padding: 10px;
}
}
.colspan{
	background-color: rgb(var(--color-blue));
	color: #fff;
}
@media screen and (max-width: 768px){
	.mediadate{
	width: 20%;
}
}
